<template name="measurementsOverview">

    <!-- <div id="hello" class="scroll-content"> -->

        <!-- {{#ionSubheaderBar class="item-input-inset"}}
            <label for="" class="item-input-wrapper">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <input id="js-search-query" type="search" placeholder="Search" />
            </label>
        {{/ionSubheaderBar}} -->

        <ion-card class="card">
        <div class="card-content">
        {{#ionList}}

            {{#each measurements}}

                {{#ionItem buttonRight=true}}

                    <h2>{{text}}</h2>
                    {{> _ncomGraph ncomKeys=ncomKeys ncomColours=ncomColours }}
                    <button class="button button-outline"><i class="fa fa-thumb-tack"></i></button>
                {{/ionItem}}

            {{/each}}

        {{/ionList}}
        </div>
        </ion-card>




            <!-- +ionView
            +ionSubheaderBar class="item-input-inset"
                label.item-input-wrapper
                    i.icon.ion-ios-search.placeholder-icon
                    input#js-search-query(type="search", placeholder="Restaurant name or Tipsta code")
                    if loadingRestaurants
                        +ionSpinner
        
            +ionContent
                .list
                    // debug
                    //.item
                        div Current {{nearbyRestaurants.lat}} {{nearbyRestaurants.lng}}
        
                    //.item.item-input-inset
                        label.item-input-wrapper
                            input(type="tel", placeholder="Tipsta Professional Code")
                            button.button.button-small OK
        
                    //.item Scan QR code
        
                    // show search results
                    if searchResultsUsers
                        .item.item-divider Choose user
                        each searchResultsUsers
                            +_userListItem this -->

        <!-- <div class="searchbar searchbar-ios searchbar-left-aligned">
            <div class="searchbar-input-container">
                <button class="searchbar-md-cancel disable-hover button button-md button-clear button-clear-md button-clear-md-dark"
                    clear="" color="dark" ion-button="" mode="md" type="button"><span class="button-inner">
                        <ion-icon name="md-arrow-back" role="img" class="icon icon-ios ion-md-arrow-back" aria-label="arrow back"></ion-icon>
                    </span>
                    <div class="button-effect"></div>
                </button>
                <div class="searchbar-search-icon"></div><input class="searchbar-input" dir="auto" placeholder="Search" type="search"
                    autocomplete="off" autocorrect="off" spellcheck="false"><button class="searchbar-clear-icon disable-hover button button-ios button-clear button-clear-ios"
                    clear="" ion-button="" type="button"><span class="button-inner"></span>
                    <div class="button-effect"></div>
                </button>
            </div><button class="searchbar-ios-cancel disable-hover button button-ios button-clear button-clear-ios" clear=""
                ion-button="" mode="ios" type="button" tabindex="-1"><span class="button-inner">Cancel</span>
                <div class="button-effect"></div>
            </button>
        </div> -->

    <!-- </div> -->

</template>