<template name="layout">

{{#ionBody class="ios"}}

	{{#ionSideMenuContainer side="left"}}

	  {{#ionSideMenu}}
	    <div class="bar bar-header bar-dark">
	      <h1 class="title">Recent configurations</h1>
	    </div>

	    <div class="bar bar-subheader bar-dark padding">
	      <i class="fa fa-user"></i> Login / Signup
	    </div>


	    <div class="content has-header has-subheader">
	      <div class="list list-transparent">

					{{#each setups}}
	        <div class="item item-icon-right js-setup" data-setup-id="{{_id}}" data-ion-menu-close>
							{{title}}
					</div>
					{{/each}}

					<!-- 
	        <div class="item item-icon-right" data-ion-menu-close>
	          Close Me {{> ionIcon icon="ios-arrow-right"}}
					</div>
					 -->

	      </div>
	    </div>
	  {{/ionSideMenu}}

		{{#ionSideMenuContent}}

			{{#ionNavView}}
				{{#ionHeaderBar class="bar-positive"}}

					<!-- sidemenu button -->
					<button class="button button-clear pull-left" data-ion-menu-toggle="left">
						<i class="fa fa-caret-left"></i> Menu
					</button>

				{{/ionHeaderBar}}

				{{#ionView}}
					{{#ionContent}}

						{{#if Template.subscriptionsReady}}
							{{> Template.dynamic template=main}}
					  {{else}}
					  	{{>ionSpinner}}
					  {{/if}}

					{{/ionContent}}
					{{> _tabs}}
				{{/ionView}}	
			{{/ionNavView}}
			
			{{> Template.dynamic template=model}}
			{{> Template.dynamic template=footer}}

		{{/ionSideMenuContent}}

	{{/ionSideMenuContainer}}
{{/ionBody}}

</template>

