.list-transparent .item {
    background: transparent;
    border: none;
}

/* hack to avoid unwanted subheader padding */
.has-subheader {
    top: 0 !important;
}

.bar.bar-subheader.item-input-inset {
    padding: 0 !important;
    margin: 0 !important;
}