h1 {
	color: $positive;
	font-weight: bold;
}

.header-description {
	font-size: 1.5rem;
}

.bar .button.button-clear {
	opacity: 1;
	font-weight: bold;
}

// sidemenu
.snap-drawer.menu-left.snap-drawer-left {
	
	background: $dark-background;
	h1 {
		text-align: left;
		font-weight: bold;
	}
	.bar.bar-subheader {
		top: 43px;						// hide borders between header and subheader
		height: 45px;
	}

}