.no-margin {
	margin: 0 !important;
}

.no-margin-top {
	margin-top: 0 !important;
}

.no-padding,
.bar-footer {
	padding: 0 !important;
}

.no-padding-bottom {
	padding-bottom: 0 !important;
}

.fixed-bottom {
	position: fixed;
	bottom: 0;
}

.full-width {
	width: 100%;
}

.full-height {
	height: 100%;
}

.font-small {
	font-size: $font-size-small;
}

.align-content-center {
	text-align: center;

	> div {
		margin-left: auto;
		margin-right: auto;
	}
}

// floating

.clear-both {
	clear: both;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.flex-content-center {
	display: flex;
  align-items: center;
  justify-content: center;	
}