$padding: 20px;
$side-pane-width: 20%;
$control-height: 80px;

// not currently used
.side-pane {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: $side-pane-width;
	background: $positive;
}

// not currently used
.main-pane {
	position: absolute;
	top: 0;
	bottom: 0;
	left: $side-pane-width;	
	right: 0;
}

.model-pane {

	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 200px;
	z-index: 1;

}

.content {

	padding: $padding;

	h1 {
		text-align: left;
		font-size: 2rem;
	}

	.controls {
		position: absolute;
		left: $padding; right: $padding;
		bottom: 0;
	}

	.control {

		height: $control-height;

		.button	{
			width: 150px;
			font-weight: bold;
		}

	}

}

.bar.bar-footer {

	.button.button-clear {
		bottom: 0;
		right: 0;
		padding: $padding;
	}

}

