// infinite slider (built from scratch)
$scroll-slider-display-width: 100px;


.scroll-slider {

  position: relative;

  .scroll-slider-scroll {
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
  
    overflow-x: scroll;
    overflow-y: hidden;
  }

  .scroll-slider-tick {
    display: inline-block;
  }

  svg line {
    stroke: $positive;
    stoke-width: 1;
  }

  svg text {
    fill: $positive;
    font-size: 0.7rem;
  }

  svg .outside-range {
    opacity: 0.5;
  }

  .scroll-slider-display {
    position: absolute;
    top:0;
    left: 50%;
    // width: $scroll-slider-display-width;
    transform: translateX(-50%);
    // height set inline to match JS

    text-align: center;
    padding: 10px 30px;
    background: rgba(white, 0.9);
    color: $positive;
    font-weight: bold;

    pointer-events: none;
  }

}