$font-family-sans-serif:          "Quicksand", sans-serif;
$font-family-light-sans-serif:    "Quicksand-Light", sans-serif-light;

$bar-footer-height:								80px;

$positive: 												#cb2127;

$calm:                            #11c1f3;		// y axis
$balanced:                        #33cd5f;		// z axis

@import '../../.meteor/local/build/programs/server/assets/packages/meteoric_ionic-sass/ionic';
@import '../../.meteor/local/build/programs/server/assets/packages/meteoric_ionicons-sass/ionicons';

$dark-background:									lighten($dark, 50%);

@import 'common';
@import 'layout';
@import 'brand';
@import 'slider';
@import 'model';

.hack {
	z-index: 999;
}

.card-content .row {
	margin-left: 0;
}