<template name="_gauges">
    <div class="row">

        <!-- instruments -->
        <div class="col text-center"><div id="airspeed"></div></div>
        <div class="col text-center"><div id="attitude"></div></div>
        <div class="col text-center"><div id="heading"></div></div>

    </div>
</template>