<template name="_graph">
    
    <div class="row">
        <div class="col">
        
            <canvas id="_graphCtx" width="400" height="150"></canvas>

            <div class="button-bar">
                <button class="button button-small               ">Accleration</button>
                <button class="button button-small button-outline">Angular rate</button>
            </div>

        </div>
    </div>

</template>