<template name="analysisOverview">

	<div class="row responsive-sm">

		<!-- left pane -->
		<div class="col">
			<!-- <div class="row"> -->

				<ion-card class="card">
					<div class="card-content">

						{{#ionList}}

							<!-- Statuses -->
							{{#ionItem}}
								<div>NCOM status: 			<span class="item-value">{{ncomStatus 'display'}}</span></div>
								<p>{{ncomStatus 'info'}}</p>
							{{/ionItem}}
							{{#ionItem}}
								<div>GNSS position mode:		<span class="item-value">{{gnssPosMode 'display'}}</span></div>
								<p>{{gnssPosMode 'info'}}</p>
							{{/ionItem}}
							{{#ionItem}}
								<div>GNSS velocity mode:		<span class="item-value">{{gnssVelMode 'display'}}</span></div>
								<p>{{gnssVelMode 'info'}}</p>
							{{/ionItem}}
							{{#ionItem}}
								<div>GNSS orientation mode:	<span class="item-value">{{gnssOriMode 'display'}}</span></div>
								<p>{{gnssOriMode 'info'}}</p>
							{{/ionItem}}
							{{#ionItem}}
								<div>GNSS satellites used:   <span class="item-value">{{ncomValue 'gpsNoSats'}}</span></div>
							{{/ionItem}}

							<!-- Instructions -->
							{{#ionItem}}

								{{#if ncomStatusIs 1 }}
								<p><b>Ensure GNSS (or other timing source) is correctly connected</b></p>
								{{/if}}

								{{#if ncomStatusIs 2 }}
								<p><b>Drive forwards in a straight line to initialise</b></p>
								{{/if}}

								{{#if ncomStatusIs 3 }}
								<p><b>Almost ready...!</b></p>
								{{/if}}

								{{#if $and (ncomStatusIs 4) ($not warmUpComplete) }}
								<p><b>Ready to warm up</b></p>
								{{/if}}

							{{/ionItem}}

						{{/ionList}}

					</div>
				</ion-card>
				
				
			<!-- </div> -->
		</div>

		<!-- right pane -->
		<div class="col">

			<ion-card class="card">
				<div class="card-content">
				{{#ionList}}

					{{#if $or (ncomStatusIs 3) (ncomStatusIs 4)}}

						{{#ionItem}}
							<!-- Status -->
							{{> _gauges}}
						{{/ionItem}}

					{{/if}}

					<!-- Graphs -->
					{{#ionItem}}
						{{> _graphRaw}}
					{{/ionItem}}

					{{#if $or (ncomStatusIs 3) (ncomStatusIs 4)}}
	
						{{#ionItem}}
						<!-- <div class="map-container"> -->
							{{> _map}}
						<!-- </div> -->
						{{/ionItem}}

					{{/if}}

				{{/ionList}}
				</div>
			</ion-card>

		</div>

	</div>

</template>