<template name="model">
	<button class="button button-clear js-rear-view">
		<span class="badge badge-stable {{#if showingRearView}}badge-positive{{/if}}">Rear view</span>
	</button>
	<div id="model"></div>	
</template>
