<template name="_slider">
	
	<div class="scroll-slider" style="height: {{pxHeight}}px;">

		<div class="scroll-slider-scroll" style="height: {{pxHeight}}px;">

			<div class="scroll-slider-scroll-inner" style="width: {{pxWidth}}px;">

				<svg width="{{pxWidth}}" height="{{pxHeight}}">
					{{#each ticks}}
					  <text x="{{pxTickTextX this}}" y="{{pxTickTextY}}" style="{{tickMainStyleStr this}}">{{tickText this}}</text>

	  				<line x1="{{pxTickMainX this}}"  x2="{{pxTickMainX this}}"  y1="0" y2="{{pxTickMainY}}" style="{{tickMainStyleStr this}}" />
	  				<line x1="{{pxTickDecX this 1}}" x2="{{pxTickDecX this 1}}" y1="0" y2="{{pxTickDecY}}"  style="{{tickStyleStr this}}" />
	  				<line x1="{{pxTickDecX this 2}}" x2="{{pxTickDecX this 2}}" y1="0" y2="{{pxTickDecY}}"  style="{{tickStyleStr this}}" />
	  				<line x1="{{pxTickDecX this 3}}" x2="{{pxTickDecX this 3}}" y1="0" y2="{{pxTickDecY}}"  style="{{tickStyleStr this}}" />
	  				<line x1="{{pxTickDecX this 4}}" x2="{{pxTickDecX this 4}}" y1="0" y2="{{pxTickDecY}}"  style="{{tickStyleStr this}}" />
	  				<line x1="{{pxTickHalfX this}}"  x2="{{pxTickHalfX this}}"  y1="0" y2="{{pxTickHalfY}}" style="{{tickStyleStr this}}" />
	  				<line x1="{{pxTickDecX this 6}}" x2="{{pxTickDecX this 6}}" y1="0" y2="{{pxTickDecY}}"  style="{{tickStyleStr this}}" />
	  				<line x1="{{pxTickDecX this 7}}" x2="{{pxTickDecX this 7}}" y1="0" y2="{{pxTickDecY}}"  style="{{tickStyleStr this}}" />
	  				<line x1="{{pxTickDecX this 8}}" x2="{{pxTickDecX this 8}}" y1="0" y2="{{pxTickDecY}}"  style="{{tickStyleStr this}}" />
	  				<line x1="{{pxTickDecX this 9}}" x2="{{pxTickDecX this 9}}" y1="0" y2="{{pxTickDecY}}"  style="{{tickStyleStr this}}" />

					{{/each}}
				</svg>

			</div>

		</div>
		
		<div class="scroll-slider-display" style="height: {{pxHeight}}px;">
			{{displayVector value 1 positiveStr negativeStr zeroStr}}
		</div>

	</div>

</template>