<template name="configOverview">
	
        <h1>Overview</h1>
        <div class="header-description">You must be accurate to your chosen precision.  (Better precision means shorter warm up time.)</div>
    
        <!-- 3d model will appear here -->

        <div class="row row-center responsive-sm">
            <div class="col col-center">
                {{> model}}
            </div>
            <div class="col col-center">
                {{#ionList}}

                {{#ionItem buttonRight=true}}
                    <div>Orientation:</div>
                    <div class="item-value">{{orientationSummary}}</div>
                {{/ionItem}}
                {{#ionItem buttonRight=true}}
                    <div>Position:</div>
                    <div class="item-value">{{positionSummary}}</div>
                {{/ionItem}}

                {{/ionList}}
            </div>
        </div>

    </template>
    