<template name="configFooter">
	
  {{#ionFooterBar class="bar-clear"}}
		<button class="button button-clear button-large button-positive pull-left js-back">
			&lt; Back
		</button>

		<button class="button button-clear button-large button-positive pull-right js-next">
			Next >
		</button>
  {{/ionFooterBar}}

</template>