<template name="device">
	
			<h1>Device</h1>
			<div class="header-description">Which device would you like to configure?</div>


			<div class="panel panel-default">
			  <div class="panel-heading">Connect to device</div>
			  <div class="panel-body">
					<div class="row">

					  <div class="col-xs-6 col-md-3">
					    <a href="#" class="thumbnail">
					      <img src="/images/RT3000.png" alt="...">
					      <div class="caption">
									<h3>RT3000</h3>
									<h4>195.0.0.20</h4>
					      </div>
					    </a>
					  </div>

					  <div class="col-xs-6 col-md-3">
					    <a href="#" class="thumbnail">
					      <img src="/images/RT3000.png" alt="...">
					      <div class="caption">
									<h3>RT3000</h3>
									<h4>195.0.0.20</h4>
					      </div>
					    </a>
					  </div>

					  <div class="col-xs-6 col-md-3">
					    <a href="#" class="thumbnail">
					      <img src="/images/RT3000.png" alt="...">
					      <div class="caption">
									<h3>RT3000</h3>
									<h4>195.0.0.20</h4>
					      </div>
					    </a>
					  </div>

					</div>
			  </div>
			</div>

			<div class="controls">
				
				<div class="control row row-center responsive-sm">
					<div class="col-100 col-center">
						<div class="button-bar">

									<button class="button button-small button-positive">RT3000 v.2</button>

						</div>
					</div>
				</div>

			</div>

</template>
