<template name="orientation">
	
			<h1>Orientation</h1>
			<div class="header-description">How is the device mounted in the vehicle?</div>

			<!-- 3d model will appear here -->

			<div class="controls">
				
				<div class="control row row-center responsive-sm">
					<div class="col-20 col-center">
						Y axis points
					</div>
					<div class="col-80 col-center">
						<div class="button-bar">
							{{#each orientationPairs}}
								{{#let axisIndex=@index}}
								{{#each this}}
									<button class="button button-small button-calm js-orientation {{#unless selected 'y' axisIndex @index}}button-outline{{/unless}} {{#if axisSelected 'z' axisIndex @index}}disabled{{/if}}" 
													data-axis-rt="y" data-axis="{{axisIndex}}" data-polarity="{{@index}}">{{this}}</button>
								{{/each}}
								{{/let}}
							{{/each}}
						</div>
					</div>
				</div>

				<div class="control row row-center responsive-sm">
					<div class="col-20 col-center">
						Z axis points
					</div>
					<div class="col-80 col-center">
						<div class="button-bar">
							{{#each orientationPairs}}
								{{#let axisIndex=@index}}
								{{#each this}}
									<button class="button button-small button-balanced js-orientation {{#unless selected 'z' axisIndex @index}}button-outline{{/unless}} {{#if axisSelected 'y' axisIndex @index}}disabled{{/if}}" 
													data-axis-rt="z" data-axis="{{axisIndex}}" data-polarity="{{@index}}">{{this}}</button>
								{{/each}}
								{{/let}}
							{{else}}
								<p>Please select Y-axis</p>
							{{/each}}
						</div>
					</div>
				</div>

			</div>

</template>
