<template name="position">
	
	<h1>Position</h1>
	<div class="header-description">You must be accurate to your chosen precision.  (Better precision means shorter warm up time.)</div>

	<!-- 3d model will appear here -->

	<div class="controls">
		
		<div class="control row row-center responsive-sm">
			<div class="col-20 col-center">
				Precision
			</div>
			<div class="col-80 col-center">
				<button class="button button-positive">+/- 10cm</button>
			</div>
		</div>

		<div class="control row row-center responsive-sm">
			<div class="col-20 col-center">
				Fixed axle
			</div>
			<div class="col-80 col-center" id="xPosToFixedAxle">
				
				{{>_slider min=-100 max=100 step=0.1 hideMinus=true positive='cm ahead' negative='cm behind'}}

			</div>
		</div>

		<div class="control row row-center responsive-sm">
			<div class="col-20 col-center">
				Centre
			</div>
			<div class="col-80 col-center" id="yPosToCentreline">
				
				{{>_slider min=-100 max=100 step=0.1 hideMinus=true positive='cm right' negative='cm left'}}					

			</div>
		</div>

		<div class="control row row-center responsive-sm">
			<div class="col-20 col-center">
				Ground
			</div>
			<div class="col-80 col-center" id="zPosToGround">
				
				{{>_slider min=0 max=100 step=0.1 hideMinus=false positive='cm above'}}

			</div>
		</div>

	</div>

</template>
